BOOKSTACK_TOKEN_ID=votre_token_bookstack
BOOKSTACK_TOKEN_SECRET=votre_secret_token
BOOKSTACK_URL=http://localhost:6875

OPENAI_API_KEY=sk-proj-your-api-key
MODEL_LLM=myllmmodel
MODEL_EMBEDDING=myembeddingmodel

COLLECTION_NAME=collection_test
VECTOR_STORE_DIR=vector-store
TOP_K=4
BACKEND_MODEL_ID=chatbot-rag
SYSTEM_PROMPT=You are a helpful assistant for internal documentation.
