BOOKSTACK_TOKEN_ID=votre_token_bookstack
BOOKSTACK_TOKEN_SECRET=votre_secret_token
BOOKSTACK_URL=http://localhost:6875

OPENAI_API_KEY=sk-proj-your-api-key
MODEL_LLM=myllmmodel
MODEL_EMBEDDING=myembeddingmodel

COLLECTION_NAME=collection_test
VECTOR_STORE_DIR=vector-store
TOP_K=4
BACKEND_MODEL_ID=chatbot-rag
SYSTEM_PROMPT=You are a helpful assistant for internal documentation.

ANYLLM_ADMIN_PASSWORD=your_anythingllm_password
JWT_SECRET=your-random-secret-key

# Network binding / ports
CHATBOT_API_BIND_IP=1.1.1.1
CHATBOT_API_HOST_PORT=CHATPORT
CHATBOT_API_INTERNAL_PORT=CHATPORT

ANYTHINGLLM_BIND_IP=1.1.1.1
ANYTHINGLLM_HOST_PORT=PORT
ANYTHINGLLM_CONTAINER_PORT=PORT
